# OS
.DS_Store

# Logs
logs/
*.log

# Dependencies
node_modules/

# Build outputs
/dist/
/build/
/out/
/target/

# Env
.env
.env.*

# Test artifacts
/test-results/
/test-evidence/

# Editors
.vscode/
.idea/
